/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Colors */
:root {
  --gray-50: #f9fafb;
  --gray-100: #f2f4f7;
  --gray-200: #eaecf0;
  --gray-300: #d0d5dd;
  --gray-400: #98a2b3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-800: #182230;
  --gray-900: #101828;
}

body {
  font-family: Onest, sans-serif;
  line-height: 1.5;
  color: var(--gray-800);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--gray-800);
}

h1 {
  font-weight: 400;
  color: var(--gray-600);
}

.container {
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 37.5rem;
  background-color: var(--gray-50);
}

.timer-display {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: JetBrains Mono;
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.controls button {
  font-size: 1.125rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border-radius: 50rem;
  opacity: 1;
}

.controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#start-btn {
  background-color: #ecfdf3;
  border: #079455 solid 2px;
}

#stop-btn {
  background-color: #fef3f2;
  border: #d92d20 solid 2px;
}

#reset-btn {
  background-color: #fffaeb;
  border: #dc6803 solid 2px;
}
